@{
    Layout = "_SimpleLayout";
    ViewData["Title"] = "Sayfa Bulunamadı 404";
}



<div class="container">

    <section class="section error-404 min-vh-100 d-flex flex-column align-items-center justify-content-center">
        <h1>404</h1>
        <h2>Aradığınız sayfa mevcut değil.</h2>
        <a class="btn" href="/">Anasayfaya geri dön</a>
        <img src="~/assets/img/not-found.svg" class="img-fluid py-5" alt="Page Not Found">
    </section>

</div>