@{
    Layout = "_SimpleLayout";
    ViewData["Title"] = "Giriş Yap";
}


<div class="container">
    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
                    <div class="d-flex justify-content-center py-4">
                        <a href="#" class="logo d-flex align-items-center w-auto">
                            <img src="~/assets/img/logo.png" alt="">
                            <span class="d-none d-lg-block">Default Şablon</span>
                        </a>
                    </div>
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="pt-4 pb-2">
                                <h5 class="card-title text-center pb-0 fs-4">Hesabınıza giriş yapın</h5>
                                <p class="text-center small">Giriş yapmak için kullanıcı adınızı ve şifrenizi girin</p>
                            </div>

                            <form class="row g-3" id="form-authentication" novalidate>

                                <div class="col-12">
                                    <label for="yourUsername" class="form-label">Kullanıcı Adı</label>
                                    <input type="text" name="username" class="form-control" id="yourUsername">
                                </div>
                                <div class="col-12">
                                    <label for="yourPassword" class="form-label">Şifre</label>
                                    <input type="password" name="password" class="form-control" id="yourPassword">
                                </div>
                                <div class="col-12">
                                    <div class="error-box">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-primary w-100" type="submit">Giriş Yap</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

@section Scripts {

    <script>
        $("#form-authentication").on("submit", function (e) {
            e.preventDefault();
            if ($(this).valid()) {
                var submitBtn = $(this).find("[type='submit']");
                var submitForm = $(this);
                var formData = new FormData(this);
                if (FormSubmitLoader(submitBtn, submitForm)) {

                    $.ajax({
                        url: '/login',
                        type: "POST",
                        data: formData,
                        processData: false,
                        contentType: false,
                        success: function (response) {

                            if (response.result == 1) {
                                const Toast = Swal.mixin({
                                    toast: true,
                                    position: "top-end",
                                    showConfirmButton: false,
                                    timer: 1000,
                                    timerProgressBar: true,
                                    didOpen: (toast) => {
                                        toast.onmouseenter = Swal.stopTimer;
                                        toast.onmouseleave = Swal.resumeTimer;
                                    }
                                });

                                Toast.fire({
                                    icon: "success",
                                    title: "Başarıyla giriş yapıldı"
                                }).then((result) => {
                                    location.href = "/"
                                });
                            } else {
                                FormSubmitLoaderReturn(submitBtn, submitForm)
                                $(".error-box").html(`  <div class="alert alert-danger">
                                                                            ${response.message}
                                                                        </div>`)
                            }
                        },
                        error: function () {
                            Swal.fire({
                                title: 'Hata',
                                html: "Bir şeyler ters gitti",
                                icon: 'error',
                                confirmButtonText: 'Tamam'
                            }).then(() => {
                                location.reload();
                            })
                        }
                    });
                }


            }

        })


        $(document).ready(function () {


            $("#form-authentication").validate({
                rules: {
                    username: {
                        required: true,
                    },
                    password: {
                        required: true,
                    },

                },
                errorPlacement: function (error, element) {
                    element.closest(".form-group").append(error);
                },
            });
        })
    </script>
}

